<html>
    <head>
        <title>NSP - Панель управления</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="<%= url %>/css/dashboard.css">
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <a href="/dashboard">Главная</a>
                <a href="/dashboard/products">Товары</a>
                <a href="/">Назад</a>
            </div>
            <div class="content">
                
            </div>
        </div>