<html>
    <head>
        <title>NSP - Панель управления</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="<%= url %>/css/dashboard.css">
    </head>
<body>
    <div class="wrapper signin">
        <form class="login" action="/signin" method="POST">
            <h1>Авторизация</h1>
            <div class="flash">
                <% if(error && error.length > 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
            </div>
            <input type="text" name="username" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <input type="submit" value="Войти">
            <div class="forgotPass">
                <a href="/products" style="color: #999999;">Назад</a>
                <a href="/reset" style="color: #999999">Забыли пароль?</a>
            </div>
        </form>
    </div>

    </body>
</html>
