<% include header %>

<section id="bread">
    <div class="bread flex">
        <div>
            <p><a href="/">Главная</a> / Оформление заказа</p>
        </div>
    </div>
</section>

<section id="signup">
    <div class="signup">
        <h1>Заключение контракта дает Вам скидку до 20% на всю продукцию Nature's Sunshine.</h1>
        <p>Заключение контракта с помощью онлайн сервиса является совершенно бесплатной услугой.
После заключения контракта с помощью онлайн сервиса, Ваш спонсор должен будет подтвердить заявку о регистрации, после чего на Ваш Email-адрес поступит письмо с Вашим дистрибьюторским номером.

До конца следующего месяца Вам необходимо совершить покупку на 30PV, в целях подтверждения активности данного соглашения, в противном случае контракт будет аннулирован.

Важное примечание!

Номер сервисного центра необходимо внести в поле регистрации для прикрепления Вашего соглашения к складу в Астане.

Номер нашего сервисного центра в Астане: <span>336</span>.</p>
        <a href="https://nsp25.com/signup.php?sid=7027388" target="_blank" class="btn btn-green big">Зарегистрироваться</a>
    </div>
</section>

<% include footer %>