    <section id="footer">
        <div class="footer flex row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="<%= url %>/svg/logo.svg" class="logo" alt="">
                <p>Тут должно быть какое-то описание
                    компании и все дела. Текст должен
                    иметь какой-то смысл ну и все дела.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h1>Наша политика</h1>
                <a href="#">Часто задаваемые вопросы</a>
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Политика куки</a>
                <a href="#">Условия соглашения</a>
                <a href="/dashboard">Панель управления</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h1>Последние новости</h1>
                <a href="#">Как лечить грипп дома</a>
                <a href="#">Какой завтрак лучше для хорошего старта дня</a>
                <a href="#">Все о био добавках</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h1>Получите скидку 20%</h1>
                <p>У вас есть возможность получить
                    скидку на все товары в размере 20%.</p>
                <a href="/discount" class="btn btn-green">Получить скидку</a>
            </div>
            <div class="col-xs-12">
                <p class="copy">© 2018 Nsp25. Все права защищены. Сайт создан командой <a target="_blank" href="https://www.mangi.kz">mangi.kz</a></p>
            </div>
        </div>
    </section>
    <script>
        var last_known_scroll_position = 0;
        var ticking = false;
        var isopen = false;
        var x;
        var topmenu;

        function doSomething(scroll_pos) {
            var rast = topmenu.clientHeight;
            if (scroll_pos > rast) { x.classList.add("blacked");
                } else { x.classList.remove("blacked"); }
        }
        
        function goto(url) { window.location.href = url; }
        function sort(cat) { window.location.href = "/products?cat=" + cat; }
        function sortProds(cat) { window.location.href = "/sortProds?sort=" + cat; }
        function subsort(cat, sub) { window.location.href = "/products?cat=" + cat + "&sub=" + sub; }
        function rmfromcart(name) { window.location.href = "/rmfromcart?name=" + name; }
        
        document.addEventListener("DOMContentLoaded", function () {
            var loader =  document.getElementById("loader");
            var search = document.getElementById("search");
            x = document.getElementById("navbar");
            topmenu = document.getElementById("topbar");
            var searchField = document.getElementById("searchField");
            var searchInput = document.getElementById("searchInput");
            var cartbutt = document.getElementById("cartbutt");
            var cart = document.getElementById("cart");
            var menu = document.getElementById("menu");
            var hamb = document.getElementById("nav-icon4");
            var cancel = document.getElementById("cancel");
            var overlay = document.getElementById("overlay");
            
            var isSearching = false;
            
            search.onclick = function (e) {
                if (!isSearching) {
                    void search.offsetWidth;
                    searchField.classList.add("show");
                    isSearching = true;
                } else {
                    if(searchInput.value == "") {
                        void search.offsetWidth;
                        searchField.classList.remove("show");
                        isSearching = false;
                    } else {
                        searchField.submit();
                    }
                }
            };
            
            menu.onclick = function (e) {
                hamb.classList.add("open");
                overlay.classList.remove("hidden");
                void overlay.offsetWidth;
                overlay.classList.add("open");
                void overlay.offsetWidth;
            };
            
            cancel.onclick = function (e) {
                hamb.classList.remove("open");
                overlay.classList.remove("open");  
                void overlay.offsetWidth;
                overlay.classList.add("hidden");
            };
            
            cartbutt.onclick = function(e) {
                cart.classList.remove("closed");
                void cart.offsetWidth;
                cart.classList.remove("transparent");
            };
            
            cart.onclick = function(e) {
                if(!e.target.closest("#cartBox")){
                    cart.classList.add("transparent");
                    void cart.offsetWidth;
                    setTimeout(() => { cart.classList.add("closed");  }, 300);
                }
            };
            
            window.addEventListener('scroll', function (e) {
                last_known_scroll_position = window.scrollY;
                if (!ticking) {
                    window.requestAnimationFrame(function () {
                        doSomething(last_known_scroll_position);
                        ticking = false;
                    });
                    ticking = true;
                }
            });
            
            setTimeout(() => {
                loader.classList.add("loaded");
                setTimeout(() => {
                    loader.style.display = "none";
                }, 500)
            }, 1000);
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        <% if (locals.cat) { %>
        $(".cat:contains('<%= cat %>')").each(function(){
            $(this).addClass("active");
        });
        <% } %>
        
        <% if (locals.sub) { %>
        $(".sub:contains('<%= sub %>')").each(function(){
           $(this).addClass("active");
        });
        <% } %>
        
        $(".cat.active").each(function() {
            console.log("THere is .cat.active!");
            var cat = $(this).attr("cat");
            $(".sub").each(function(index) {
                console.log(index);
                if ($(this).attr("sub") == cat) {
                    $(this).addClass("open");
                }
            });
        });
        
        $(".cat").click((event) => {
            var ccat = $(event.currentTarget);
            ccat.toggleClass("active");
            var cat = ccat.attr("cat");
            $(".sub").each(function(index) {
                console.log(index);
                if ($(this).attr("sub") == cat) {
                    $(this).toggleClass("open");
                }
            });
        });
    
        $("#confirmOrder").click(function(){
            var products = "";
            
            <% if (locals.cart) { cart.forEach(function(item){ %>
            products += "<%= item.name %>, ";
            <% }); } %>
            
            $("#products").val(products);
            $("#checkoutform").submit();
        });

        /*
        $("#callmebacksubmit").click((e) => {
            e.preventDefault();
            $.ajax({
                url: "/callmeback",
                type: "POST",
                dataType: "json",
                data: {"phone": $("#phone").val() },
                success: function(data){
                    console.log(data);
                    $("#callmeresponse").removeClass("show");
                    $("#callmeerror").removeClass("show");
                    if(data.data === 1) {
                        $("#callmeresponse").addClass("show");
                    } else {
                        $("#callmeerror").html(data.message).addClass("show");
                    }
                },
                error: function(error){ console.log(error); }
            });
        });
        */
    </script>
</body>
</html>