<% include header %>

<section id="bread">
    <div class="bread flex">
        <div>
            <p><a href="/">Главная</a> / <a href="/posts">Статьи</a> / Проблемы ожирения и избыточного веса</p>
        </div>
    </div>
</section>

<section id="post-thumbnail">
    <div class="post-thumbnail flex">
        <img src="img/fat.jpg">
    </div>
</section>

<section id="post-content">
    <div class="post-content">
        <h1>Проблемы ожирения и избыточного веса</h1>
        <p>
            Избыточный вес и ожирение – результат формирования аномальных или чрезмерных жировых отложений, которые
            могут наносить вред здоровью.
            Индекс массы тела (ИМТ) – простое отношение массы тела к росту, часто использующееся для диагностики
            ожирения и избыточного веса у взрослых. Индекс рассчитывается как отношение массы тела в килограммах к
            квадрату роста в метрах (кг/м2).
            <br><br>
            Взрослые
            Согласно ВОЗ диагноз «избыточный вес» или «ожирение» у взрослых ставится в следующих случаях:
            <br><br>
            ИМТ больше или равен 25 — избыточный вес;
            ИМТ больше или равен 30 — ожирение.
            ИМТ является наиболее удобной мерой оценки уровня ожирения и избыточного веса в популяции, поскольку он
            одинаков для обоих полов и для всех возрастных категорий взрослых. Однако ИМТ следует считать
            приблизительным критерием, т.к. у разных людей он может соответствовать разной степени полноты.
            <br><br>
            У детей при определении избыточного веса и ожирения следует учитывать возраст.
            <br><br>
            Дети в возрасте до 5 лет
            У детей в возрасте до 5 лет избыточный вес и ожирение определяются следующим образом:
            <br><br>
            избыточный вес — если соотношение «масса тела/рост» превышает медианное значение, указанное в Стандартных
            показателях физического развития детей (ВОЗ), более чем на два стандартных отклонения;
            ожирение — если соотношение «масса тела/рост» превышает медианное значение, указанное в Стандартных
            показателях физического развития детей (ВОЗ), более чем на три стандартных отклонения;
            Графики и таблицы: Стандартные показатели ВОЗ физического развития детей до 5 лет - на английском языке
            Дети в возрасте от 5 до 19 лет
            У детей в возрасте от 5 до 19 лет избыточный вес и ожирение определяются следующим образом:
            <br><br>
            избыточный вес — если соотношение «ИМТ/возраст» превышает медианное значение, указанное в Стандартных
            показателях физического развития детей (ВОЗ), более чем на одно стандартное отклонение;
            ожирение — если соотношение «ИМТ/возраст» превышает медианное значение, указанное в Стандартных показателях
            физического развития детей (ВОЗ), более чем на два стандартных отклонения;
            Графики и таблицы: Стандартные показатели ВОЗ физического развития детей и подростков в возрасте 5–19 лет -
            на английском языке
            Факты об избыточном весе и ожирении
            Ниже приводятся некоторые недавние глобальные оценки ВОЗ:
            <br><br>
            В 2016 году более 1,9 миллиарда взрослых старше 18 лет имели избыточный вес. Из них свыше 650 миллионов
            страдали ожирением.
            По данным 2016 года 39% взрослых старше 18 лет (39% мужчин и 40% женщин) имели избыточный вес.
            В 2016 году около 13% взрослого населения планеты (11% мужчин и 15% женщин) страдали ожирением.
            С 1975 по 2016 год число людей, страдающих ожирением, во всем мире выросло более чем втрое.
            По оценкам, в 2016 году около 41 миллиона детей в возрасте до 5 лет имели избыточный вес или ожирение.
            Избыточный вес и ожирение, ранее считавшиеся характерными для стран с высоким уровнем дохода, теперь
            становятся все более распространенными в странах с низким и среднем уровнем дохода, особенно в городах. В
            Африке с 2000 г. число детей в возрасте до 5 лет, страдающих ожирением, выросло почти на 50%. В 2016 году
            почти половина детей в возрасте до 5 лет с избыточным весом или ожирением проживала в Азии.
            <br><br>
            В 2016 г. 340 миллионов детей и подростков в возрасте от 5 до 19 лет страдали избыточным весом или
            ожирением.
            <br><br>
            Распространенность избыточного веса и ожирения среди детей и подростков в возрасте от 5 до 19 лет резко
            возросла с всего лишь 4% в 1975 г. до немногим более 18% в 2016 году. Этот рост в равной степени
            распределен среди детей и подростков обоих полов: в 2016 г. избыточным весом страдали 18% девочек и 19%
            мальчиков.
            <br><br>
            В 1975 г. ожирением страдало чуть менее 1% детей и подростков в возрасте от 5 до 19 лет, а в 2016 г. их
            число достигло 124 миллионов (6% девочек и 8% мальчиков).
            <br><br>
            В целом, в мире от последствий избыточного веса и ожирения умирает больше людей, чем от последствий
            аномально низкой массы тела. Число людей с ожирением превышает число людей с пониженной массой тела; такое
            положение дел наблюдается во всех регионах, кроме некоторых районов Африки к югу от Сахары и Азии.
        </p>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>
    $(".cat").click((event) => {
        var ccat = $(event.currentTarget);
        var cat = ccat.attr("cat");
        ccat.toggleClass("active");
        $(".sub").each(function (index) {
            console.log(index);
            if ($(this).attr("sub") == cat) {
                $(this).toggleClass("open");
            }
        });
    });
</script>

<% include footer %>