<% include header %>

<section id="bread">
    <div class="bread flex">
        <div>
            <p><a href="/">Главная</a> / <a href="/posts">Статьи</a> / <%= post.name %></p>
        </div>
    </div>
</section>

<section id="post-thumbnail">
    <div class="post-thumbnail flex">
        <div style="background: gray;">
            <img src="<%= post.image %>">
        </div>
    </div>
</section>

<section id="post-content">
    <div class="post-content">
        <h1><%= post.name %></h1>
        <p>
            <%- post.desc %>
        </p>
    </div>
</section>

<% include footer %>