/************** CSS RESET *************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: .9rem;
    font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: Muller;
    src: url("../fonts/MullerRegular.otf") format("opentype"); }
@font-face { font-family: Muller; font-weight: bold;
    src: url("../fonts/MullerBold.otf") format("opentype"); }
    
/************** GENERAL *************/
html, body { margin: 0; padding: 0;
    font-family: Muller, sans-serif; }
p { font-size: .9rem; line-height: 1.4rem; }
.flex { display: flex; }

.container { display: flex; }
.menu { display: flex; flex-direction: column; background: gray; height: 100vh; 
    padding: 1rem 3rem; box-sizing: border-box; text-decoration: none; }
.menu a { color: #fff; margin: 0 0 1rem 0; cursor: pointer; }
.content { display: flex; padding: 1rem; box-sizing: border-box; }

.btn { text-decoration: none; padding: .5rem 1rem; display: inline-block;
    font-size: .9rem; text-align: center; }
.btn.big { padding: 1rem 2rem; }
.btn-green { background: #89c242; color: #fff; text-transform: uppercase;}
.btn-gray { background: #cccccc; color: #fff; }
.btn-green:hover { background: #6a9930; }
.btn-gray:hover { background: #aeaeae; }
.smooth { transition: all .3s ease; }
