/************** CSS RESET *************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: .9rem;
    font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; 
  margin: 0; }

@font-face { font-family: Muller;
    src: url("../fonts/MullerRegular.otf") format("opentype"); }
@font-face { font-family: Muller; font-weight: bold;
    src: url("../fonts/MullerBold.otf") format("opentype"); }
    
/************** GENERAL *************/
html, body { margin: 0; padding: 0;
    font-family: Muller, sans-serif; }
p, ol, li{ font-size: .9rem; line-height: 1.4rem; }
.flex { display: flex; }
section { display: flex; justify-content: center; width: 100%; 
    align-items: center; }
section > div { width: 72rem; padding-right: 1rem !important;
    padding-left: 1rem !important; box-sizing: border-box; }
.wrapper { width: 72rem; }
.btn { text-decoration: none; padding: .5rem 1rem; display: inline-block;
    font-size: .9rem; text-align: center; }
.btn.big { padding: 1rem 2rem; }
.btn-green { background: #89c242; color: #fff; text-transform: uppercase;}
.btn-gray { background: #cccccc; color: #fff; }
.btn-green:hover { background: #6a9930; }
.btn-gray:hover { background: #aeaeae; }
.btn.disabled { opacity: .7 !important; pointer-events: none; }
.smooth { transition: all .3s ease; }
b { font-weight: 900; }

/************** HAMBURGER *************/
#nav-icon4 { width: 60px; height: 10px; position: relative;
    -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); transform: rotate(0deg); outline: none;
    -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; }
      
#nav-icon4 span { display: block; position: absolute; height: 3px; width: 100%;
    background: #222; border-radius: 0; opacity: 1; left: 0;
    -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); transform: rotate(0deg); outline: none;
    -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out; transition: .25s ease-in-out; }
    
#nav-icon4 span:nth-child(1) { top: 0px; -webkit-transform-origin: left center;
    -moz-transform-origin: left center; -o-transform-origin: left center;
    transform-origin: left center; outline: none;}
    
#nav-icon4 span:nth-child(2) { top: 18px; -webkit-transform-origin: left center;
    -moz-transform-origin: left center; -o-transform-origin: left center;
    transform-origin: left center; outline: none;}
    
#nav-icon4 span:nth-child(3) { top: 36px; -webkit-transform-origin: left center;
    -moz-transform-origin: left center; -o-transform-origin: left center;
    transform-origin: left center; outline: none; }
    
#nav-icon4.open span:nth-child(1) { -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg); -o-transform: rotate(45deg); 
    transform: rotate(45deg); top: -3px; left: 8px; }
    
#nav-icon4.open span:nth-child(2) { width: 0%; opacity: 0; }
    
#nav-icon4.open span:nth-child(3) { -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg);
    transform: rotate(-45deg); top: 39px; left: 8px; }
    
.hamburger { transform: scale(.37); position: relative; top: .12rem; 
    margin-right: .2rem; margin-left: 1.2rem; pointer-events: none; }
.hamhandler { height: 1.5rem; position: relative; cursor: pointer; width: 3rem; 
    margin-right: .35rem; }
    
.overlay { width: 100%; height: 100vh; z-index: 11; position: fixed; top: 0;
    background: #222; align-items: center; justify-content: center;
    flex-direction: column; opacity: 0; display: flex; transition: all .6s ease; }

.overlay a { margin: .5rem 0; color: #fff; text-decoration: none;
    text-transform: uppercase; transition: all .3s ease; cursor: pointer; }
.overlay a:hover { text-decoration: underline; }
.overlay img { position: absolute; top: 1rem; right: 1rem; height: 2rem;cursor: pointer;}
.overlay.open { opacity: 1; }
.overlay.hidden { display: none; }

/********* LOCKED TOP INFO BAR **********/
#topbar { background: #89c242; padding: .5rem 0; margin-bottom: 3.5rem; }
.topbar { justify-content: space-between;
    color: #fff; align-items: center; }
.topbar > div { display: flex; align-items: center; }
.topbar img { height: 1rem; margin-right: .5rem; }

/********* BREADCRUMBS **********/
#bread { background: #f8f9fa; padding: .45rem 0; }
.bread { justify-content: space-between;
    color: #636665; align-items: center; }
.bread > div { display: flex; align-items: center; }
.bread p, .bread a { font-size: .8rem; }
.bread a { color: #89c242; text-decoration: none; }

/********* NAVIGATION BAR **********/

#navbar { background: #fff;
 z-index: 9; position: absolute; top: 2.75rem; left: 0; width: 100%; }
#navbar.blacked { position: fixed; top: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15); }
.navbar { justify-content: space-between; position: relative; padding-top: .75rem;
    padding-bottom: .75rem; }
.navbar img { height: 1.68rem; }
.menu { align-items: center; }
.menu a { color: #222; text-transform: uppercase; text-decoration: none; top: .1rem;
    font-size: .9rem; font-weight: 500; margin: 0 0 0 1rem; display: inline-block;
    position: relative; transition: all .3s ease; }
.menu a:hover { color: #89c242; }
#products .filters button:hover { color: #89c242; }
#signthisshitup { background: #89c242; width: 100%; padding: .5rem 1rem;
    box-sizing: border-box; }
    
/********* SEARCH TRIGGER **********/
.search { border: 0; background: transparent; outline: none; cursor: pointer;
    padding: 0; }
.search img { height: 1rem; margin: 0 0 0 1rem; position: relative; z-index: 4; }
.search-field { position: absolute; right: 0; top: 0; width: 0%; height: 100%;
    background: #fff; transition: all .3s ease; opacity: 0; }
.search-field input { width: 100%; padding: 1rem 2rem; font-size: .9rem; color: #222;
    border: 0; outline: none; box-sizing: border-box; display: none; }
.search-field.show input { display: block; }
.search-field.show { width: 100%; opacity: 1 }

/********* CART TRIGGER **********/
.cartbutt img { height: 1.3rem; margin: 0 0 0 .5rem; padding: 0; }
.cartbutt { border: 0; background: transparent; cursor: pointer; outline: none; }

/********* SIGNUP PAGE **********/
#signup { padding-top: 3rem; padding-bottom: 3rem; }
.signup { background: #f8f9fa; padding: 2rem; display: flex; align-items: center;
    flex-direction: column; }
.signup h1 { text-transform: uppercase; font-weight: 600; margin-bottom: 1rem;
    width:100%; line-height: 140%; }
.signup p span { color: #89c242; }
.signup p { line-height: 1.7rem; width: 100%; }
.signup .btn { margin-top: 2rem; }

/********* CART ITSELF **********/
#cart { display: flex; justify-content: center; align-items: center; width: 100%;
    top: 0; left: 0; height: 100vh; box-sizing: border-box; position: fixed;
    background: rgba(0,0,0,0.7); transition: all .3s ease; z-index: 10; opacity: 1; }
.cart { background: #fff; padding: 2rem; display: flex; flex-direction: column;
    align-items: flex-start; }
.cart > div { display: flex; margin-bottom: 1rem; align-items: center; width: 100%;
    justify-content: space-between; }
.cart > div > div { display: flex; align-items: center; }
.cart > div > div > img { height: 3rem; margin-right: 1rem; }
.cart p span { font-weight: 600; }
.cart button { border: 0; background: transparent; outline: none; }
.cart button img { height: 1.25rem; margin-left: 1rem; cursor: pointer; }
.cart .btn { align-self: center; margin-top: 1rem; }
#cart.closed { display: none; }
#cart.transparent { opacity: 0; }

/********* CHECKOUT ITSELF **********/
#checkout { padding-top: 3rem; padding-bottom: 3rem; background: #fff; }
.checkout form > div { display: flex; justify-content: space-between;
    align-items: center; margin-bottom: 1rem; }
.checkout form input { padding: .5rem .75rem; font-size: .9rem; color: #222;
    outline: none; width: 15rem; background: #f8f9fa; border: 0; box-sizing: border-box;}
    
/********* BUY LIST TABLE **********/
.buyList { background: #f8f9fa; padding: 1rem 1rem .25rem 1rem; }
.buyList > div > div > img { height: 4rem; margin-right: 1rem; }
.buyList > div { display: flex; align-items: center; justify-content: space-between;
    margin-bottom: 1rem; }
.buyList > div > div { display: flex; align-items: center; }
.buyList button { border: 0; background: transparent; outline: none; cursor: pointer; }
.buyList button img { height: 1.5rem; }
.buyList span { font-weight: 600; }
.buyList #confirmOrder { cursor: pointer; }

/********* HERO SECTION **********/
#searchRes { padding-top: 3rem; background: #fff; }
.searchRes h1 { text-transform: uppercase; font-weight: 600; padding-left: .5rem; }

/********* HERO SECTION **********/
#hero { background: #cfd1ce; }
.hero { justify-content: space-between; align-items: center; position: relative; }
.hero > div { display: flex; flex-direction: column; position: relative;
    align-items: flex-start; }
.hero > div h1 { font-size: 8rem; color: #c4c7c5; position: absolute;
    z-index: 0; bottom: 3.6rem; font-weight: 300; letter-spacing: -.6rem;
    text-transform: uppercase; left: -.3rem; }
.hero > div h2 { font-size: 4rem; color: #222; position: relative;
    z-index: 1; font-weight: 600; margin-bottom: 1rem; }
.hero > div h3 { font-size: .9rem; color: #222; position: relative;
    z-index: 1; margin-bottom: 1.75rem; text-transform: uppercase; }
.hero img { padding-top: 2rem; width: 39.1875rem; }
.hero .btn { margin-top: 2rem; position: relative; z-index: 1; }

.control { position: absolute; left: 2rem; background: #fff; padding: 1rem;
    width: 3.7rem; cursor: pointer; z-index: 5; }
.control:hover { background: #e4e2e2; }
.control img { height: 1.7rem; }
.control.right { left: auto; right: 2rem; }

/********* PRODUCTS PAGE **********/
#products { background: #eef1ef; padding-top: 3rem; padding-bottom: 3rem; }
.products { justify-content: space-between; align-items: flex-start; }
.products .loop { width: 54rem; background: #fff; padding: 1rem .5em 0 .5rem; 
    box-sizing: border-box; min-height: 12.25rem; }

/********* FILTERS WIDGET **********/
.filters { width: 16.5rem; padding-right: 1rem; box-sizing: border-box;
    flex-direction: column; }
.filters > div { background: #fff; margin-bottom: 1rem; width: 100%; }
.filters h1 { text-transform: uppercase; font-weight: 600; padding: .75rem;
    background: #f8f9fa; font-size: .9rem; line-height: 90%; position: relative; }
.filters button { width: 100%; border: 0; color: #636665; font-size: .8rem; 
    text-align: left; padding: .75rem; outline: none; font-family: Muller;
    transition: all .3s ease; cursor: pointer; position: relative; background: #fff; }
.filters button.sub { padding-left: 1.5rem; display: none; }
.filters button.sub.open { display: flex; }
.filters button.sub.open.active { color: #000; background: #f8f9fa; }
.filters button:hover, .filters button.cat.active { background: #f8f9fa; color: #000; }
.filters button img, .filters h1 img{ height: 1rem; position: absolute;
    top: .75rem; right: .75rem; opacity: 0; transition: all .3s ease; }
.filters button:hover img, .filters button.cat.active img { opacity: 1; }
.filters button.border { border:0; border-top: 1px solid #cccccc; }
 
/********* CONTACTS PAGE  **********/
#map { padding-top: 3rem; padding-bottom: 3rem; }
.map p { margin-bottom: .5rem; }
.map p span { font-weight: 600; text-transform: uppercase; }
.map iframe { margin-top: 1rem; }

/********* POST THUMBNAIL *********/
#post-thumbnail { padding-top: 3rem; padding-bottom: 1.5rem; }
.post-thumbnail { height: 15rem; overflow: hidden; align-items: center; }
.post-thumbnail > div {width: 100%; }
.post-thumbnail img { width: 100%; opacity: .95; }

/********* POST CONTENT *********/
#post-content { padding-bottom: 3rem; }
.post-content h1 { font-weight: 600; text-transform: uppercase; margin-bottom: 1rem; }
 
/********* SINGLE PRODUCT  **********/
.product { background: #fff; width: 54rem; }
.product > span > img { width: 25rem; }
.product > div { box-sizing: border-box; padding: 1.5rem; }
.product h1 { color: #89c242; font-weight: 600; font-size: 2rem; }
.product h2 { color: #a09fa0; font-size: .8rem; margin: .5rem 0 1rem 0; }
.product h3 { color: #a09fa0; font-size: 1.2rem; font-weight: 600; margin: 0 0 1.25rem 0; }
.product h3 span { opacity: .5; text-decoration: line-through; }
.product p { color: #636665; margin-left: 1rem;
    list-style: disc outside none; display:list-item;  }

.product .buy { margin-top: 1.5rem; align-items: flex-start; }
.product .buy input { font-size: .9rem; color: #222; outline: none; text-align: left;
    padding: .4rem .7rem .4rem 1.5rem; border: 0; background: #eeeeef; box-sizing: border-box;}
.product .buy .btn-green { margin-left: .5rem; }
.product .buy a, .product .buy input { height: 1.8rem !important; box-sizing: border-box;}

/********* SINGLE PRODUCT DESC  **********/
.desc { background: #fff; margin-top: 1rem; padding-bottom: 2rem; width: 54rem; }
.desc p { padding: 0 1rem; }
.tabs { margin-bottom: 1rem; }
.tabs .tab { padding: 1rem 2.5rem; }
.tabs .tab.active { background: #f8f9fa; }

/********* MESSAGES **********/
.message { width: 100%; padding: 1rem 1rem .7rem 1rem; margin-top: 1rem;
    box-sizing: border-box;}
.message.err { background-color: #f2dede; border-color: #ebcccc; color: #a94442; }
.message.suc { background-color: #dff0d8; border-color: #d0e9c6; color: #3c763d; }
strong { font-weight: 800; }

/********* POSTS PAGE **********/
#posts { background: #eef1ef; padding-top: 3rem; padding-bottom: 1rem; }
#posts.embed { background: #fff; }
#posts.embed .post { background: #f4f5f5; }

.posts > div > h1 { font-weight: 600; text-align: center; margin-top: 1rem;
    font-size: 1.3rem; color: #222; text-transform: uppercase; margin-bottom: 2rem; }
.posts > div > h2 { font-size: .9rem; color: #88898a; margin: 0 0 .3rem 0; 
    text-align: center; }

.post { flex-direction: column; background: #fff; position: relative;
    align-items: flex-start; margin-bottom: 2rem; }
.post h1 { font-size: .9rem; color: #222; font-weight: 600; height: 3.4rem; 
    box-sizing: border-box; text-transform: uppercase; padding: .75rem; 
    line-height: 140%; overflow: hidden; margin-bottom: .25rem; }
.post p { color: #adadad; padding: 0 .75rem; height: 4.125rem; overflow: hidden;}
.post .btn { margin: .75rem; align-self: flex-end; text-transform: none; }
.post span { background: #fff; object-fit: contain; display: flex; width: 100%;
    padding-top: 70%; box-sizing: border-box; position: relative; overflow: hidden;}
.post img { height: 100%; cursor: pointer; position: absolute; top: 0; 
    bottom: 0;  margin: auto; object-position: 50% 50%; object-fit: none; }

/********* POST FILTER WIDGET **********/
.post-filter { margin-bottom: 1.5rem; }
.post-filter button { background: #fff; font-size: .9rem; border: 0;
    padding: .5rem 1.5rem; transition: all .3s ease; font-family: Muller;
    cursor: pointer; outline: none; }
.post-filter button:hover { background: #ededed; }
.post-filter button.active { background: #89c242; color: #fff; }

/********* DISCOUNT SECTION **********/
#discount { background: #7d838a;  }

.discount > div { position: relative; }
.discount { justify-content: space-between; }
.discount img { position: absolute; top: 0; right: 0; height: 100%; }
.discount h1 { font-size: 3.5rem; color: #fff; position: relative;
    z-index: 1; font-weight: 600; margin-bottom: .5rem; margin-top: 4rem; }
.discount h2 { margin-bottom: 2rem; color: #fff; position: relative; z-index: 1;}
.discount .btn { margin-bottom: 4rem; z-index: 1; position: relative;}

/********* POPULAR PRODUCTS LOOP **********/
#popular { padding-top: 3rem; padding-bottom: 1rem; }

.pageControl { display: flex; width: 100%; justify-content: center; padding-top:1rem;
    padding-bottom: 2rem; flex-wrap: wrap; align-items: flex-end; }
.pageControl a { width: 2.5rem; text-align: center; color: #000; text-decoration: none;
    background: #f8f9fa; margin: 0 .25rem .5rem .25rem; padding: .75rem 0;
    font-size: .9rem; }

.popular > div > div > h1 { font-size: 1.3rem; color: #222; text-transform: uppercase;}
.popular > div > div > h2 { font-size: .9rem; color: #88898a; margin: 0 0 .3rem 0; }

/********* PRODUCT LOOP **********/
.loop > div { display: flex; flex-direction: column; align-items: center;
    margin: 0 0 2rem 0; }
.loop h1 { font-size: .9rem; color: #222; font-weight: 600; text-align: center;
    margin-top: 1rem; height: 1.75rem; }
.loop h2 { font-size: .8rem; color: #a09fa0; text-align: center; margin: .4rem 0 }
.loop h3 { font-size: 1.05rem; color: #a09fa0; font-weight: 600; text-align: center;
    margin-bottom: 1rem; }
.loop h3 span { text-decoration: line-through; opacity: .3; }
.loop img { height: 100%; cursor: pointer; position: absolute; top: 0; left: 0;
  bottom: 0; right: 0; margin: 0 auto; }
.loop > div > span { background: #fff; object-fit: contain; display: flex;
    width: 100%;padding-top: 100%; box-sizing: border-box; position: relative; }
.loop .btn { text-transform: none; }

/********* FOOTER **********/
#footer { background: #252525; padding-top: 3rem; padding-bottom: 2rem; }

.footer { flex-wrap: wrap; }
.footer > div { width: 25%; display: flex; flex-direction: column; margin-bottom: 2rem;
    box-sizing: border-box; padding-right: 1rem; align-items: flex-start; }
.footer img.logo { width: 9rem; margin-bottom: .9rem; position: relative; top:-.2rem; }
.footer p { font-size: .9rem; color: #adadad; }
.footer a { font-size: .9rem; color: #adadad; margin-bottom: .5rem;
    text-decoration: none; cursor: pointer; transition: all .3s ease; }
.footer a:hover { color: #fff; }
.footer h1 { font-size: .9rem; text-transform: uppercase; color: #fff;
    margin-bottom: 1rem; font-weight: 600; line-height: 140%; }
.footer a.btn { color: #fff; margin: 1rem 0 0 0; }
.footer p.copy { width: 100%; }
.footer p.copy a { color: #89c242; }

.mobile { display: none; }

.loopactions { width: 100%; display: flex; justify-content: center; }

@media screen and (max-width: 1350px){
    /* section > div { width: 62rem; } */
    .hero img { width: 30rem; }
    
    .control { left: 1rem; }
    .control.right { right: 1rem; }
}

@media screen and (max-width: 1200px){
    section > div { width: 62rem; }
    .hero img { width: 25rem; }
    .loop a { text-align: center; }
    
    .hero > div h2 { font-size: 3.5rem; }
    .hero > div h1 { bottom: 3.2rem; }
    
    .product > span > img { width: 20rem; }
    .product, .desc { width: 43rem; }

}

@media screen and (max-width: 1050px){
    .product > span > img { width: 15rem; }
    .product, .desc { width: 38rem; }
    
    .products .loop { width: 49rem; }
    section > div { width: 53rem; }
    .hero img { width: 20rem; }
    .fourth-item, .desktop, .control { display: none !important; }
    
    .hero > div h2, .discount h1 { font-size: 2.8rem; }
    .hero > div h1 { font-size: 6rem; bottom: 4rem; }
}

@media screen and (max-width: 900px){
    .filters h1 img { opacity: 1; }
    #products div.filters div.closed button { display: none !important; }
    
    .filters { padding-right: 0; }
    .product > span > img { width: 18rem; }
    .product, .desc { width: 100%; }
    
    section > div { width: 44rem; }
    
    .products { flex-direction: column; }
    .products .loop { width: 100%; }
    .filters { flex-direction: row; width: 100%; }
    .filters > div { width: 50%; }
}

@media screen and (max-width: 750px){
    .product > span > img { width: 15rem; }
    section > div { width: 35rem; }
    
    .third-item { display: none !important; }
    
}

@media screen and (max-width: 600px){ 
    .filters, .product{ flex-direction: column; }
    
    .hero > div h1 { display: none; }
    section > div { width: 26rem; }
    
    #hero { height: 20rem; }
    .hero > div h2, .discount h1 { font-size: 2rem; }
    .hero img { position: absolute; top: -11.8rem; right: -1rem; }
    .hero > div h1 { font-size: 4rem; bottom: 4.5rem; }
    .loopactions a { padding: .3rem; }
    .loop .btn { width: 6rem; }
    
    .filters { padding-right: 0; }
    .row { margin-left: 0 !important; margin-right: 0 !important; }
    .filters > div { width: 100%; }
    .post-filter { flex-wrap: wrap; }
}

@media screen and (max-width: 450px){ \.loopactions a { padding: .3rem; }
    .loopactions a { padding: .5rem 1rem; }
    section > div { width: 100%; }
    .checkout form > div { flex-direction: column; align-items: flex-start;
        justify-content: flex-start; }
    .checkout form input { width: 100%; }
    .buyList > div > div > img { height: 3rem; }
    .buyList button img { height: 1rem; }
    
    .mobile { display: block; }
    .desktoplogo { display: none; }
}